body {
    margin: 0 0 0 0;
    background-color: rgb(255, 254, 254);;
  }

/****************   Nav Section **********************/
nav {
	background-color: lightcoral;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom: 4px solid #542323;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
} 

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
	border-top: 2px solid #000;
  padding: 10px;
  background-color: #dbcdcc;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color:  rgb(249, 240, 240);
}

header h1 {
  font-family: "Bitter", serif;
  color: #272336;
}

header img {
  border: 6px solid #272336;
  padding: 4px white;
  align-self: center;
}

.address {
 font-family: Cambria, Georgia, “Times New Roman”, serif; 
 text-decoration: underline;
}

.tagline {
  font-family: Cambria, Georgia, “Times New Roman”, serif;
}

.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/************* Sections ********************/

hr {
  color: rgb(0, 0, 0);
  border: 2px;
  height: 10px
}

.alignment {
  display: flex;
  margin: 0 15% 0 15%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  border-top: 1px solid black;
}

section h2 {
  position: relative;
  padding-left: 5px;
  border-left: 4px solid #272336;;
  font-family: "Bitter", serif;
  color: #272336;
}

section dl {
  padding-left: 15px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  font-family: "Roboto Slab", serif;
  font-size: large;
}

.extra-info {
  padding-left: 20px;
  font-size: normal;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  transition: all 0.3s ease;
}

.has-info:hover {
  color: white;
  background-color: #454545;
}

section dt:hover .extra-info {
  max-height: 100px;
  opacity: 1;
  margin-top: 8px;
}

section li:hover .extra-info {
  max-height: 50px;
  opacity: 1;
  margin-top: 8px;
}

section ul {
  font-family: "Roboto Slab", serif;
  font-size: larger;
}

section a {
  color: crimson;
  text-decoration: none;
}

section a:hover {
  color: maroon;
  text-decoration: underline;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
 font-family: "Roboto Slab", serif; 
}

/**************   Projects   *****************/
.three-col {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
	display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  align-self: center
}

.card {
  border: 2px solid black;
  display: flex;
  margin-left: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  flex-direction: column;
  background-color: rgb(169, 156, 176);
  transition: all 0.3s ease; 
}

.card h3 {
  margin-left: 10px;
}

.card:hover {
  transform: translateY(-20px);
  background-color: rgb(94, 87, 108);
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      background-color: lightcoral;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      border-bottom: 4px solid #542324;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
    }

    .three-col {
      padding: 20px;
	    display: grid;
      gap: 50px;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Bitter", serif;
  align-items: center;
  margin-bottom: 10px;
  border: none;
  
}

.input-box {
  margin: 0 30% 0 30%;
  padding-top: 20px;
  border: 1px solid #272336;
  box-shadow: 4px 16px 24px 4px rgba(0,0,0,0.2);
  background-color: #c9bd0e0c;
}

label {
  position: relative;
  font-weight: bold;
  right: 15px;
  font-family: "Bitter", serif;
}

input {
  font-family: "Bitter", serif;
  position: relative;
  right: 10px;
  max-width: 300px;
  height: 30px;
  width: 100%;
  background-color: rgb(242, 237, 237);
  border: 2px solid black;
}

textarea {
  position: relative;
  right: 10px;
  max-width: 300px;
  background-color: rgb(242, 237, 237);
}

button {
  position: relative;
  right: 10px;
  max-width: 100px;
}